Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:art: Change example text so it fits to the page
  src/components/Buttons/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add loading page
  src/pages/Loading/Loading.module.css
  src/pages/Loading/Loading.stories.tsx
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:hammer: Install LottieFiles
  package-lock.json
  package.json
Due: prettier --write

:sparkles: Add animation to LoadingPage
  lib/FF_Animation_loading.json
  src/pages/Loading/Loading.module.css
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Style Animation
  .storybook/preview.js
  src/pages/Loading/Loading.module.css
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:fire: Uninstall react-lottie and @types/react-lottie
  package-lock.json
  package.json
Due: prettier --write

:hammer: Install lottie-web
  package-lock.json
  package.json
Due: prettier --write

:dizzy: Add Animation using useRef and lottie-web
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:bug: Add final animation without flickering
  lib/FF_Animation_loading_03.json
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add start page
  lib/Startimage.jpg
  src/pages/Start/Start.module.css
  src/pages/Start/Start.stories.tsx
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change h1 color in globals.css
  src/globals.css
Due: stylelint --fix, prettier --write

:recycle: Change code after review
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:bug: Add production bundle server
  server/index.ts
Due: eslint --cache --fix, prettier --write

:bug: Change order
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: CRUD for festivals to MongoDB
  samples.http
  server/index.ts
  server/utils/Database.ts
Due: eslint --cache --fix, prettier --write

:bug: Change 3 prop types to number
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add NameInput page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.stories.tsx
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add AddUser Compononent
  src/components/AddUser/AddUser.module.css
  src/components/AddUser/AddUser.stories.tsx
  src/components/AddUser/AddUser.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add AddUser Component to NameInput page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add username to localstorage in AddUser.tsx
  src/components/AddUser/AddUser.stories.tsx
  src/components/AddUser/AddUser.tsx
  src/components/AddUser/AddUserForm.tsx
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, prettier --write

:art: Add colors for h1-h4 to globals.css
  src/globals.css
  src/pages/NameInput/NameInput.module.css
Due: stylelint --fix, prettier --write

:lipstick: Style page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change styling also in searchbar module
  src/components/SearchBar/SearchBar.module.css
  src/pages/NameInput/NameInput.module.css
Due: stylelint --fix, prettier --write

:sparkles: Login and logout user
  src/components/AddUser/AddUser.module.css
  src/components/AddUser/AddUserForm.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Logged user is still displayed on page refresh
  src/components/AddUser/AddUserForm.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Style delete button
  src/components/AddUser/AddUser.module.css
  src/components/AddUser/AddUserForm.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Delete unnecessary css class
  src/components/AddUser/AddUser.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add proxy
  .storybook/middleware.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

:hammer: Install npm install --save react-router-dom
  package-lock.json
  package.json
Due: prettier --write

:sparkles: Add routes and navbar placeholder
  src/App.module.css
  src/App.tsx
  src/main.tsx
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Merge two classes in AddUser css after code review
  src/components/AddUser/AddUser.module.css
Due: stylelint --fix, prettier --write

:construction: Routes work but only without app.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add placeholder NavBar Component
  lib/FF_Logo_large.svg
  lib/FF_Logo_small.svg
  src/App.tsx
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.stories.tsx
  src/components/NavBar/NavBar.tsx
  src/main.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Outlet get's finally rendered!
  src/App.tsx
  src/main.tsx
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Outlet is centered and navbar placeholder fixed
  src/App.module.css
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
  src/pages/NameInput/NameInput.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Delete unnecessary code and order css
  src/App.tsx
Due: eslint --cache --fix, prettier --write

:art: Change order of css code
  src/components/NavBar/NavBar.module.css
  src/pages/NameInput/NameInput.module.css
  src/pages/Start/Start.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add AllFestivals page
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.stories.tsx
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:boom: Small festival cards are displayed on page
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Style page
  src/components/FestivalCardSmall/FestivalCardSmall.module.css
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
