Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:bug: Repair NavBar
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Resolve navbar problems again
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change size of button normaö
  src/components/Buttons/Button.module.css
Due: stylelint --fix, prettier --write

:dizzy: Delete animation loop
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Change start page design
  src/pages/Start/Start.module.css
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Make login page look like starpage
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:green_heart: 2 small change to the build works
  src/components/AddUser/AddUser.stories.tsx
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Adjust sizes and margins
  src/components/GenreTag/GenreTag.module.css
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Align tags to the tags on the left
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:sparkles: Repair filter function with lower cases
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:bug: Delete z-index from in festivalcardmedium
  src/components/FestivalCardMedium/FestivalCardMedium.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add different styles for differenz possibilities
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add check if tags are selected
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Button is only clickable with min 1 true tag
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Better logic behind loading states
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:construction: Festival Card Large doesnt work yet
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add Logout to NavBar
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, prettier --write

:art: Change ReactRoute on StartPage
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change Login text and behavior
  src/components/AddUser/AddUserForm.tsx
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Click on "more" button works
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:bug: Button finaly works with onClick
  src/components/Buttons/Button.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Correct button added to Card Medium
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
Due: eslint --cache --fix, prettier --write

:boom: Results now displayed correctly in all scopes
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Positionierung of large card was aweful
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
Due: stylelint --fix, prettier --write

:green_heart: Add toSeach to StoryComponent
  src/components/FestivalCardMedium/FestivalCardMedium.stories.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Change column layout of resultpage
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Set correct types to prevent errors by pageload
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:bug: Add keys to map
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:art: Layout and functions working fine
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Delete useless code fragments and comments
  src/components/AddUser/AddUserForm.tsx
  src/components/Examples/Button.stories.tsx
  src/components/Examples/Button.tsx
  src/components/Examples/button.css
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
  src/components/GenreTag/GenreTag.tsx
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Clean Up page files
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.stories.tsx
  src/pages/AllFestivals/AllFestivals.tsx
  src/pages/Filter/FilterPage.stories.tsx
  src/pages/Filter/FilterPage.tsx
  src/pages/FilterResult/FilterResult.stories.tsx
  src/pages/FilterResult/FilterResult.tsx
  src/pages/Loading/Loading.stories.tsx
  src/pages/NameInput/NameInput.tsx
  src/pages/Start/Start.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Change NavBar to fixed + change distances to top
  src/App.module.css
  src/components/NavBar/NavBar.module.css
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/Filter/FilterPage.module.css
  src/pages/FilterResult/FilterResult.module.css
Due: stylelint --fix, prettier --write

:sparkles: Last spacing adjustment + small button animation
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

Update Readme
  README.md
Due: prettier --write

:bug: Fix README
  README.md
Due: prettier --write

:bug: Change order of props in large card
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
Due: eslint --cache --fix, prettier --write

:art: Delete H1 in Readme to not show the name twice
  README.md
Due: prettier --write

:lipstick: Change list @ allfestivals
  src/pages/AllFestivals/AllFestivals.module.css
Due: stylelint --fix, prettier --write

:iphone: Add breakpoints on start page
  src/pages/Start/Start.module.css
Due: stylelint --fix, prettier --write

:iphone: Add breakpoints to login-page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
