Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:sparkles: Add search function
  src/components/SearchBar/SearchBar.tsx
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Search functions changed to onSubmit
  src/components/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Style page and search component
  src/components/SearchBar/SearchBar.module.css
  src/globals.css
  src/pages/AllFestivals/AllFestivals.module.css
Due: stylelint --fix, prettier --write

:bug: Add values to FestivalCardSmall stories
  src/components/FestivalCardSmall/FestivalCardSmall.stories.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Sort festivals in mongo by name
  server/index.ts
Due: eslint --cache --fix, prettier --write

:art: Delete unnecessary console.log
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change order of index.ts code
  server/index.ts
Due: eslint --cache --fix, prettier --write

:art: Delete read, post, delete user
  server/index.ts
Due: eslint --cache --fix, prettier --write

:art: Delete comment
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add FilterPage
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.stories.tsx
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add states to tag
  src/components/GenreTag/GenreTag.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Change color onClick
  src/components/GenreTag/GenreTag.module.css
  src/components/GenreTag/GenreTag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:truck: Rename animation
  lib/FF_Animation_loading_rz_pink.json
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Add festivals + minimal design changes smallcard
  samples.http
  src/components/FestivalCardSmall/FestivalCardSmall.module.css
  src/components/FestivalCardSmall/FestivalCardSmall.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:heavy_plus_sign: Install concurrently
  package-lock.json
  package.json
Due: prettier --write

:lipstick: Change tag style when being selected
  src/components/GenreTag/GenreTag.module.css
  src/components/GenreTag/GenreTag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:recycle: Small naming and style changes on FilterPage
  src/components/AddUser/AddUserForm.tsx
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:construction: Lift state up. No error, but onClick not working
  src/components/GenreTag/GenreTag.tsx
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:construction: Lift state up works. 5 TS errors to solve
  src/components/GenreTag/GenreTag.tsx
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:bug: No TS errors anymore
  src/components/GenreTag/GenreTag.tsx
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Add some styling
  src/components/GenreTag/GenreTag.module.css
Due: stylelint --fix, prettier --write

:heavy_minus_sign: Install it from new branch + as devdependency
  package-lock.json
  package.json
Due: prettier --write

:heavy_plus_sign: Install Concurrently as DevDep
  package-lock.json
  package.json
Due: prettier --write

:bug: User executed only on the initial render
  src/components/AddUser/AddUserForm.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change handle to onClick cause of name conv
  src/components/GenreTag/GenreTag.tsx
Due: eslint --cache --fix, prettier --write

:art: Outsource initialTags
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:bug: GenreTag is displayed in storybook
  src/components/GenreTag/GenreTag.stories.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Add BEM to css tag state classes
  src/components/GenreTag/GenreTag.module.css
  src/components/GenreTag/GenreTag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: git add .
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add basic styling, final tbd on new branch
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:bug: Change classical to classic
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:truck: Rename FF animation and add all colors
  lib/FF_loadingscreen_final_blue.json
  lib/FF_loadingscreen_final_green.json
  lib/FF_loadingscreen_final_pink.json
Due: prettier --write

:truck: Change path of file in loading.tsx
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, prettier --write

:bug: Storybook and react router now works fine
  .storybook/preview.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Selected genre saved in a const
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:construction: Filter genre in backend works. WIP w/ viariables
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write

:construction: Search for electronic >= e.g. 30 works.
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Search genre > 0 in index.ts
  server/index.ts
Due: eslint --cache --fix, prettier --write

:construction: Console log filtered festivals
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:construction: Iterated search for 2 genre in backend
  server/index.ts
Due: eslint --cache --fix, prettier --write
