Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:sparkles: Change PORT permission
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Change title
  index.html
Due: none

Add issue template
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

:see_no_evil: eslintcache to gitignore
  .gitignore
Due: none

:see_no_evil: eslintcache to gitignore
  .eslintcache
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

:lipstick: Add colors and fonts to globals.css
  src/globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add font styles for h, a, p, buttons
  src/globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add specific font styles
  src/globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add specific type classes
  src/globals.css
Due: stylelint --fix, prettier --write

:bug: Add missing unit to font-size
  src/globals.css
Due: stylelint --fix, prettier --write

:construction: Add button component - compose not working
  src/App.tsx
  src/components/Buttons/Buttons.module.css
  src/components/Buttons/Buttons.stories.tsx
  src/components/Buttons/Buttons.tsx
  src/components/Examples/Button.stories.tsx
  src/components/Examples/Button.tsx
  src/components/Examples/button.css
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Composes work
  package-lock.json
  package.json
  src/components/Buttons/Buttons.module.css
  src/globals.css
Due: stylelint --fix, prettier --write

:bug: Add 2 extends to styleintrc.json
  .stylelintrc.json
Due: prettier --write

:lipstick: Style buttons
  src/components/Buttons/Buttons.module.css
  src/components/Buttons/Buttons.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:construction: Button component not final yet
  package-lock.json
  package.json
  src/components/Buttons/Button.module.css
  src/components/Buttons/Button.stories.tsx
  src/components/Buttons/Button.tsx
  src/components/Buttons/Buttons.stories.tsx
  src/components/Buttons/Buttons.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Connect to database
  .gitignore
  package-lock.json
  package.json
  samples.http
  server/index.ts
  src/utils/Database.ts
Due: eslint --cache --fix, prettier --write

:bug: Delete button to rename branch
  src/components/Buttons/Button.module.css
  src/components/Buttons/Button.stories.tsx
  src/components/Buttons/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Rename path
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add buttons
  src/components/Buttons/Button.module.css
  src/components/Buttons/Button.stories.tsx
  src/components/Buttons/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:art: Button size and text is a variable
  src/components/Buttons/Button.stories.tsx
  src/components/Buttons/Button.tsx
Due: eslint --cache --fix, prettier --write

:construction: Add SearchBar
  .vscode/settings.json
  src/components/SearchBar/SearchBar.module.css
  src/components/SearchBar/SearchBar.stories.tsx
  src/components/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Change Classname to kebab-case
  src/components/SearchBar/SearchBar.module.css
  src/components/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:hammer: Add eslint-plugin-react-hooks
  package-lock.json
  package.json
Due: prettier --write

:zap: Add globals.css to preview.js in storybook
  .storybook/preview.js
Due: eslint --cache --fix, prettier --write

:lipstick: Style Search Bar
  lib/Icon_Arrow.svg
  src/components/SearchBar/SearchBar.module.css
  src/components/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add hover
  src/components/SearchBar/SearchBar.module.css
Due: stylelint --fix, prettier --write

:lipstick: Change Size of small button
  src/components/Buttons/Button.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add Genre Tag
  src/components/GenreTag/GenreTag.module.css
  src/components/GenreTag/GenreTag.stories.tsx
  src/components/GenreTag/GenreTag.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add Festival Card Large
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
  src/components/FestivalCardLarge/FestivalCardLarge.stories.tsx
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Style Festival Card Large
  lib/Icon_Close.svg
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Change database files
  server/index.ts
  server/utils/Database.ts
Due: eslint --cache --fix, prettier --write

:construction: Try to POST and GET MongoDB
  samples.http
  server/index.ts
  server/utils/Database.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

:recycle: Add suggested changes from code review
  src/components/Buttons/Button.tsx
  src/components/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add and style festival card medium
  lib/Icon_Date.svg
  lib/Icon_Location.svg
  src/components/Buttons/Button.tsx
  src/components/FestivalCardMedium/FestivalCardMedium.module.css
  src/components/FestivalCardMedium/FestivalCardMedium.stories.tsx
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Finalize styling festival card medium
  src/components/FestivalCardMedium/FestivalCardMedium.module.css
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Add width to button to prevent stretch in grid
  src/components/Buttons/Button.module.css
  src/components/Buttons/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Center button in festival card large
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add h5 to global css
  src/globals.css
Due: stylelint --fix, prettier --write

:sparkles: Add and style festival card small
  src/components/FestivalCardSmall/FestivalCardSmall.module.css
  src/components/FestivalCardSmall/FestivalCardSmall.stories.tsx
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Add json parser to database, so POST works
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write
