Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:construction: Nothing works anymore
  src/pages/Filter/FilterPage.tsx
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:construction: still nothing works
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:ambulance: Add FestivalCard L + S to resolve merge conflict
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
  src/components/FestivalCardLarge/FestivalCardLarge.stories.tsx
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
  src/components/FestivalCardSmall/FestivalCardSmall.module.css
  src/components/FestivalCardSmall/FestivalCardSmall.stories.tsx
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:ambulance: Add AllFestivals to resolve merge conflict
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, prettier --write

:construction: Mapping still not working. Iterating again not
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:boom: The filter function finally works as it should
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: FilterResult displays max 100
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Cards are sorted by value
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Cards Medium:Different colors depending on value
  src/components/FestivalCardMedium/FestivalCardMedium.module.css
  src/components/FestivalCardMedium/FestivalCardMedium.stories.tsx
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add logo font for filter button
  src/globals.css
Due: stylelint --fix, prettier --write

:lipstick: Add button styling
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:lipstick: Style button and delete unnecessary code
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, prettier --write

:bug: Run linter
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add Route again to search a single festival
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add all missing routes to main.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add ReactRouterLinks to all links
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.tsx
  src/pages/Filter/FilterPage.tsx
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Change main.tsx + app.tsx to repair ReactRouter
  src/App.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change Routes
  src/App.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change #root to root in main.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Last change reverted
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Add Slashes
  src/App.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change link on start.tsx
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, prettier --write

:bug: Try first example again
  src/App.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:ambulance: Fixed Problems.
  src/App.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:truck: Load images via import
  lib/Start_Page.jpg
  lib/Startimage.jpg
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
  src/components/NavBar/NavBar.tsx
  src/pages/Start/Start.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Set LocalStorage and naviagtion works fine
  src/pages/Filter/FilterPage.tsx
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add Navbar
  lib/Icon_Back.svg
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Dropdown and darken works fine
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: NavBar back button and logo button work fine
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, prettier --write

:recycle: Order files
  src/components/NavBar/NavBar.module.css
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Improve App Layout
  src/App.module.css
Due: stylelint --fix, prettier --write

:lipstick: Improve Layout on AllFestivalspage
  src/components/FestivalCardSmall/FestivalCardSmall.module.css
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Upgrade Layout on filtered page
  src/components/FestivalCardMedium/FestivalCardMedium.module.css
  src/pages/FilterResult/FilterResult.module.css
Due: stylelint --fix, prettier --write

:lipstick: Center logo and refactor CSS
  src/components/NavBar/NavBar.module.css
Due: stylelint --fix, prettier --write

:lipstick: Improve layout @ FilterPage
  src/pages/Filter/FilterPage.module.css
  src/pages/Filter/FilterPage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Center content @ NameInput page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Center text on start page
  src/pages/Start/Start.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add navigation to form
  src/components/AddUser/AddUserForm.tsx
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, prettier --write

:bug: Repair back button
  src/components/AddUser/AddUserForm.tsx
  src/components/NavBar/NavBar.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Change routes so menu is displayed @ 1st 2 pages
  src/main.tsx
Due: eslint --cache --fix, prettier --write
