Repository davidwobido/festival-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,css,md,json,ts,tsx}": "prettier --write"
}

:iphone: Add breakpoints to filter-page
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:iphone: Add breakpoints to filterresult-page
  src/pages/FilterResult/FilterResult.module.css
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Add breakpoint to allfestivals-page
  src/pages/AllFestivals/AllFestivals.module.css
Due: stylelint --fix, prettier --write

:bug: Change size on filter-page + class on all filter
  src/pages/AllFestivals/AllFestivals.module.css
  src/pages/AllFestivals/AllFestivals.tsx
  src/pages/Filter/FilterPage.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Add breakpoint to navbar
  src/components/NavBar/NavBar.module.css
Due: stylelint --fix, prettier --write

:lipstick: Add hover and active effects
  src/components/NavBar/NavBar.module.css
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:recycle: Add types.ts with all used types as export
  types.ts
Due: eslint --cache --fix, prettier --write

:recycle: Add type-imports and delete types from each file
  src/components/AddUser/AddUserForm.tsx
  src/components/Buttons/Button.tsx
  src/components/FestivalCardLarge/FestivalCardLarge.tsx
  src/components/FestivalCardMedium/FestivalCardMedium.tsx
  src/components/FestivalCardSmall/FestivalCardSmall.tsx
  src/components/GenreTag/GenreTag.tsx
  src/components/SearchBar/SearchBar.tsx
  src/pages/AllFestivals/AllFestivals.tsx
  src/pages/FilterResult/FilterResult.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Add favicon files
  lib/favicon/android-chrome-192x192.png
  lib/favicon/android-chrome-512x512.png
  lib/favicon/apple-touch-icon.png
  lib/favicon/browserconfig.xml
  lib/favicon/favicon-16x16.png
  lib/favicon/favicon-32x32.png
  lib/favicon/favicon.ico
  lib/favicon/mstile-144x144.png
  lib/favicon/mstile-150x150.png
  lib/favicon/mstile-310x150.png
  lib/favicon/mstile-310x310.png
  lib/favicon/mstile-70x70.png
  lib/favicon/safari-pinned-tab.svg
  lib/favicon/site.webmanifest
Due: none

:sparkles: Add different types of favicons to index.html
  index.html
Due: none

:bug: format site.webmanifest
  lib/favicon/site.webmanifest
Due: none

:heavy_plus_sign: Install Div100vh for correct height on mobile
  package-lock.json
  package.json
Due: prettier --write

:sparkles: Add Div100vh to App.tsx
  src/App.tsx
Due: eslint --cache --fix, prettier --write

:bug: Delete 100vh from class
  src/App.module.css
Due: stylelint --fix, prettier --write

:bug: Add Div100vh to Loading-page
  src/pages/Loading/Loading.module.css
  src/pages/Loading/Loading.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Add Div100vh to Start-page
  src/pages/Start/Start.module.css
  src/pages/Start/Start.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Add Div100vh to Login-page
  src/pages/NameInput/NameInput.module.css
  src/pages/NameInput/NameInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:children_crossing: Add feedback to hover+active on buttons+links
  src/globals.css
  src/pages/Filter/FilterPage.module.css
Due: stylelint --fix, prettier --write

:recycle: Delete code from module which is added to global
  src/components/FestivalCardLarge/FestivalCardLarge.module.css
Due: stylelint --fix, prettier --write

:bug: Change favicon files
  index.html
  lib/favicon/android-chrome-192x192.png
  lib/favicon/android-chrome-512x512.png
  lib/favicon/android-icon-192x192.png
  lib/favicon/apple-icon-114x114.png
  lib/favicon/apple-icon-120x120.png
  lib/favicon/apple-icon-144x144.png
  lib/favicon/apple-icon-152x152.png
  lib/favicon/apple-icon-180x180.png
  lib/favicon/apple-icon-57x57.png
  lib/favicon/apple-icon-60x60.png
  lib/favicon/apple-icon-72x72.png
  lib/favicon/apple-icon-76x76.png
  lib/favicon/apple-touch-icon.png
  lib/favicon/browserconfig.xml
  lib/favicon/favicon-16x16.png
  lib/favicon/favicon-256x256.png
  lib/favicon/favicon-32x32.png
  lib/favicon/favicon-96x96.png
  lib/favicon/favicon.ico
  lib/favicon/manifest.json
  lib/favicon/ms-icon-144x144.png
  lib/favicon/ms-icon-150x150.png
  lib/favicon/ms-icon-310x310.png
  lib/favicon/ms-icon-70x70.png
  lib/favicon/mstile-144x144.png
  lib/favicon/mstile-150x150.png
  lib/favicon/mstile-310x150.png
  lib/favicon/mstile-310x310.png
  lib/favicon/mstile-70x70.png
  lib/favicon/safari-pinned-tab.svg
  lib/favicon/site.webmanifest
Due: prettier --write

:bug: Change src of main.tsx
  index.html
Due: none

:bug: Change react-routes
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: reorder index head
  index.html
Due: none

:bug: Change URL of manifest
  index.html
Due: none

:art: Comment favicon out in index.html
  index.html
Due: none

:rewind: Revert changes @ routing paths
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Change express routes in index.ts
  server/index.ts
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Changes on index.ts
  server/index.ts
Due: eslint --cache --fix, prettier --write

:recycle: Find out which change solved the problem
  server/index.ts
Due: eslint --cache --fix, prettier --write

:lipstick: Add favicon to head of index.html again
  index.html
Due: none

:fire: Delete sizes in manifest.json which doesnt exist
  lib/favicon/manifest.json
Due: prettier --write
